include ./header.jade
div.container
  div.container.both
    div.affiliation-form.col-md-5
      h1.line Add Affiliation
      form.form-pad(action='/affiliation',method='post')
        div.form-group(data-role='fieldcontain')
          fieldset(data-role='controlgroup')
            label(for='aname')
               input.name(id='aname',type='text',value='',placeholder='Affiliation Name',name='aname')
        div.form-group(data-role='fieldcontain')
          fieldset(data-role='controlgroup')
            label(for='fname')
               input.name(id='fname',type='text',value='',placeholder='Contact First Name',name='fname')
        div.form-group(data-role='fieldcontain')
          fieldset(data-role='controlgroup')
            label(for='lname')
               input(id='lname',type='text',value='',placeholder='Contact Last Name',name='lname')
        div.form-group(id='hiddendiv',data-role='fieldcontain')
          fieldset(data-role='controlgroup')
            label(for='email')
               input(id='Cemail',type='Cemail',value='',placeholder='Contact Email',name='Cemail')
        div.form-group(id='hiddendiv',data-role='fieldcontain')
          fieldset(data-role='controlgroup')
            label(for='CPhone')
               input(id='CPhone',type='tel',value='',placeholder='Contact Phone',name='CPhone')
        div.form-group(id='hiddendiv',data-role='fieldcontain')
          fieldset(data-role='controlgroup')
            label(for='StreetNumber')
               input(id='StreetNumber',type='tel',value='',placeholder='Street Number',name='StreetNumber')
        div.form-group(id='hiddendiv',data-role='fieldcontain')
          fieldset(data-role='controlgroup')
            label(for='StreetName')
               input(id='StreetName',type='tel',value='',placeholder='Street Name',name='StreetName')
        div.form-group(id='hiddendiv',data-role='fieldcontain')
          fieldset(data-role='controlgroup')
            label(for='City')
               input(id='City',type='tel',value='',placeholder='City',name='City')
        div.form-group(id='hiddendiv',data-role='fieldcontain')
          fieldset(data-role='controlgroup')
            label(for='State')
               input(id='State',type='tel',value='',placeholder='State',name='State')
        div.form-group(id='hiddendiv',data-role='fieldcontain')
          fieldset(data-role='controlgroup')
            label(for='Zip')
               input(id='Zip',type='tel',value='',placeholder='Zip',name='Zip')
        div.form-group(data-role='fieldcontain')
          input.btn(type='submit',value='Add',data-transition='fade', data-theme='c')
    div.col-md-5
      table.table-striped.table-bordered(style='width:100%')
        thead
          th Affliations
        tbody
        -var i = rows
        each value in i
          tr
            td
              a(href='affiliation/#{value.PrimaryID}') #{value.Name}
include ./footer.jade
