include ./header.jade
div.donor-page-divide
  h1 #{name}
  p Welcome to #{name}s Nashville Food Project page. Click donation to view donor history or add new donations.
  p Click volunteer to view volunteer history or add new volunteer hours.
  div
    a(href=donation) Donations
  div
    a(href=volunteer) Volunteer
    include ./footer.jade

