doctype html
html
  head
    link(rel='stylesheet', type='text/css', href='../stylesheet/main.css')
  body
    ul
      li
        a.header-link(href='/signup') Add
      li
        a.header-link(href='/') List
      li
        a.header-link(href='/search') Search

