doctype html
html
  head
    link(rel='stylesheet', type='text/css', href='../script/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='../stylesheet/main.css')
  body
    nav.navbar.navbar-default
      ul.nav.nav-pills
        li(role='presentation')
          h4.head-text
            a.header-link(href='/affiliation') Affiliation
        li(role='presentation')
          h4.head-text
            a.header-link(href='/signup') Add New Contributor
        li(role='presentation')
          h4.head-text
            a.header-link(href='/') List All Contributors



