doctype html
html
  head
    link(rel='stylesheet', type='text/css', href='../stylesheet/main.css')
  body
    ul
      li
        a(href='signup') Add
      li
        a(href='/') List
      li
        a(href='search') Search

