doctype html
html
  head
    link(rel='stylesheet', type='text/css', href='../script/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='../stylesheet/main.css')
  body
    ul
      li
        a.header-link(href='/signup') Add
      li
        a.header-link(href='/') List
      li
        a.header-link(href='/affiliation') Affiliation

