doctype html
html
  head
    link(rel='stylesheet', type='text/css', href='../stylesheet/main.css')
  body
    script(type='text/javascript', src='../script/bower_components/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='../script/main.js')
    ul
      li
        a.header-link(href='signup') Add
      li
        a.header-link(href='/') List
      li
        a.header-link(href='search') Search

