include ./header.jade
div.container
  div.col-md-3.col-md-offset-5
    button.query-btn
     a(href='/donation-query') Find donations by date
    button.query-btn
     a(href='/volunteer-query') Find volunteers by date
include ./footer.jade
