doctype html
html
  body
    div
      a(href='signup') Add new donor
    div
      a(href='/') List all donors
    div
      a(href='search') Search donor
    table(style='width:100%')
      thead
        th ID
        th First Name
        th Last Name
        th email
      tbody
      -var i = data
      each value in i
        tr
          td=value.PrimaryID
          td=value.FirstName
          td=value.LastName
          td=value.email


