doctype html
html
  body
    table(style='width:100%')
      -var i = data
      each value in i
        tr
          td=value.PrimaryID
          td=value.FirstName
          td=value.LastName
          td=value.email


