include ./header.jade
h1 search
select(name='select')
  -var i = affiliations
  each affiliation in affiliations
    option(value=affiliation.Affiliation) #{affiliation.Affiliation}
include ./footer.jade



