include ./header.jade
div.container
  div.col-md-4.signup-form
    h2.under Add Contributor
    form.sign-up-form(action='/signup',method='post')
      div.form-group(data-role='fieldcontain')
        fieldset(data-role='controlgroup')
          label(for='fname')
             input.name(id='fname',type='text',value='',placeholder='first name',name='fname')
      div.form-group(data-role='fieldcontain')
        fieldset(data-role='controlgroup')
          label(for='lname')
             input(id='lname',type='text',value='',placeholder='last name',name='lname')
      div.form-group(id='hiddendiv',data-role='fieldcontain')
        fieldset(data-role='controlgroup')
          label(for='email')
             input(id='email',type='text',value='',placeholder='email',name='email')
      div.form-group(id='hiddendiv',data-role='fieldcontain')
        fieldset(data-role='controlgroup')
          label(for='phone')
             input(id='phone',type='tel',value='',placeholder='phone',name='phone')
      div.form-group(id='hiddendiv',data-role='fieldcontain')
        fieldset(data-role='controlgroup')
          label(for='DStreetNumber')
             input(id='DStreetNumber',type='text',value='',placeholder='Street Number',name='DStreetNumber')
      div.form-group(id='hiddendiv',data-role='fieldcontain')
        fieldset(data-role='controlgroup')
          label(for='DStreetName')
             input(id='DStreetName',type='text',value='',placeholder='Street Name',name='DStreetName')
      div.form-group(id='hiddendiv',data-role='fieldcontain')
        fieldset(data-role='controlgroup')
          label(for='DCity')
             input(id='DCity',type='text',value='',placeholder='City',name='DCity')
      div.form-group(id='hiddendiv',data-role='fieldcontain')
        fieldset(data-role='controlgroup')
          label(for='DState')
             input(id='DState',type='text',value='',placeholder='State',name='DState')
      div.form-group(id='hiddendiv',data-role='fieldcontain')
        fieldset(data-role='controlgroup')
          label(for='DZip')
             input(id='DZip',type='text',value='',placeholder='Zip',name='DZip')
      div.form-group(id='hiddendiv',data-role='fieldcontain')
        fieldset(data-role='controlgroup')
          label(for='affiliation') Affiliation
            select(id='affiliation',type='text',value='',placeholder='',name='affiliation')
              -var i = affiliations
              each affiliation in affiliations
                option.select(value=affiliation.Name) #{affiliation.Name}
      div.form-group(data-role='fieldcontain')
        input.btn.form-btn(type='submit',value='Add',data-transition='fade', data-theme='c')
include ./footer.jade

