h1 {
  color: grey;
}

th {
  color: #263b8c;
  text-align: center;
}

td {
  text-align: center;
}

.links {
  margin-top: 25px;
}

.donation-btn {
  padding-top: 19.5px;
}

.donation-form {
  border-top: solid 1px black;
  padding-left: 160px;
  margin-bottom: 75px;
}

.top-header {
  margin-bottom: 10px;
  padding-left: 50px;
}

.title {
  padding-left: 70px;
}

.list-head {
  color: #263b8c;
}

.fix {
  padding-left: 45px;
}

.vol-title {
  padding-left: 79px;
}

.affiliation-form {
  border: solid 1px #263c8b;
  text-align: center;
}

.line {
  border-bottom: solid 1px #263c8b;
  padding-bottom: 15px;
  color: #263c8b;
}

.form-pad {
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.push {
  margin-top: 30px;
}

.push-down {
  margin-top: 10px;
}

.head-text {
  padding-top: 5px;
  padding-left: 145px;
}

.top-header-donation {
  margin-bottom: 10px;
  padding-left: 70px;
}

.id-container-right {
  margin-top: 10px;
}

.signup-form {

  text-align: center;
  border: solid 1px #263c8b;
}

.under {
  padding-bottom: 15px;
  border-bottom: solid 1px #263c8b;
  color: #263c8b;
}

.sign-up-form {
  padding-top: 10px;
}

.form-btn {
  width: 170px;
  background-color: #263c8b;
  color: white;
}

.form-pad {
  padding-bottom: 20px;
}

.head-background {
  background-color: #E6E6E6;
}

a:hover {
  color: #522421;
  text-decoration: none;
}



