h1 {
  color: grey;
}

th {
  color: #263b8c;
  text-align: center;
}

td {
  text-align: center;
}

.links {
  margin-top: 25px;
}

.donation-btn {
  padding-top: 19.5px;
}

.donation-form {
  border: solid 1px black;
  padding-left: 160px;
  margin-bottom: 75px;
}

.top-header {
  margin-bottom: 50px;
  padding-left: 50px;
}

.title {
  padding-left: 70px;
}

.list-head {
  color: #263b8c;
}





